{% extends 'base.html' %}

{% block title %}
posts
{% endblock title %}

{% block content %}

<form action="{% url 'posts:create-post-view' %}" method="POST">
  {% csrf_token %}
  <label for="p_caption">caption</label>
  <input type="textarea" name="p_caption"><br>
  <label for="p_img">image</label>
  <input type="file" name="p_img" accept="image/*"><br>
  <label for="p_name">Book title</label>
  <input type="text" name="p_name"><br>
  <label for="p_author">author</label>
  <input type="text" name="p_author"><br>
  <button type="submit">Post</button><br>
</form>

{% for obj1 in posts %}

{{obj1.book_name}}
<form action="{% url 'posts:like-post-view' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="post_id1" value={{obj1.id}}>
  <button type="submit">
    {% if profile not in obj1.liked.all %}
    Like
    {% else %}
    Unlike
    {% endif %}
   </button> {{obj1.liked.all.count}}
</form>
<form action="{% url 'posts:delete-post-view' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="post_id4" value={{obj1.id}}>
  <button type="submit">delete</button>
</form>
{% for obj2 in reviews %}

{% ifequal obj2.post_id obj1.id %}

{{obj2.body}} {{obj2.id}}
<form action="{% url 'posts:like-review-view' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="post_id3" value={{obj1.id}}>
  <input type="hidden" name="review_id" value={{obj2.id}}>
  <button type="submit">

    {% if profile not in obj2.liked.all %}
    Like
    {% else %}
    Unlike
    {% endif %}

   </button> {{obj2.liked.all.count}}
</form>
<form action="{% url 'posts:delete-review-view' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="post_id" value={{obj1.id}}>
  <input type="hidden" name="review_id" value={{obj2.id}}>
  <button type="submit">delete</button>
</form>

{% endifequal %}

{% endfor %}

<form action="{% url 'posts:create-review-view' %}" method="POST">
  {% csrf_token %}
  <input type="text" name="review_body" placeholder="Add review!!!">
  <input type="hidden" name="post_id2" value={{obj1.id}}>
  <button type="submit">post review</button>
</form>

{% endfor %}

{% endblock content %}
